In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import japanize_matplotlib

In [2]:
#静岡県の法人情報
data = pd.read_csv('./chapter-1/data/22_shizuoka_all_20210331.csv',encoding='shift-jis')#shift-jisは文字コード
data.head()

,1,1000013040008,01,1.1,2018-04-02,2015-10-05,静岡家庭裁判所,Unnamed: 7,101,静岡県,...,Unnamed: 20,Unnamed: 21,2015-10-05.1,1.2,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",Unnamed: 27,シズオカカテイサイバンショ,0
0,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
1,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
2,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
3,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
4,6,1000020222135,1,1,2020-09-29,2015-10-05,掛川市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Kakegawa City,Shizuoka,"1-1-1 Nagaya, Kakegawa shi",NaN,カケガワシ,0

In [3]:
len(data)

114612

In [4]:
data = pd.read_csv('./chapter-1/data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None)#headerなしで整形
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [5]:
data.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [6]:
len(data.columns)

30

In [7]:
data.dtypes#datatypeを確認、現状は不都合

0       int64
1       int64
2       int64
3       int64
4      object
5      object
6      object
7     float64
8       int64
9      object
10     object
11     object
12    float64
13      int64
14      int64
15    float64
16    float64
17    float64
18     object
19    float64
20    float64
21     object
22     object
23      int64
24     object
25     object
26     object
27    float64
28     object
29      int64
dtype: object

In [8]:
data = pd.read_csv('./chapter-1/data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None,dtype=object)#typeを指定
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [9]:
data.dtypes#オーケー

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

In [10]:
#ヘッダ用テキストファイルのファイルの読み込み
mst = pd.read_csv('./chapter-1/data/mst_column_name.txt',encoding='shift-jis',sep='\t')#タブで区切る
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [11]:
print(len(mst))#データ件数

30

In [12]:
len(mst) == len(data.columns) #件数が一致するかの確認

True

In [13]:
#ヘッダ行の追加
columns = mst.column_name_en.values

In [14]:
columns

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

In [15]:
data.columns = columns 
data.head()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [ ]:
#統計量,欠損値の確認
data.describe()#count:要素個数,unique:ユニーク個数,top:最頻値,freq:最頻値の出現回数

In [ ]:
data.isna()#欠損値の確認

In [ ]:
data.isna().sum()#欠損値の確認の集計

In [ ]:
#新しいデータの追加、整形

In [ ]:
from glob import glob
diff_files = glob('./chapter-1/data/diff*.csv')
diff_files

In [ ]:
diff_files.sort()
diff = pd.read_csv(diff_files[0],encoding='shift-jis',header=None,dtype=object)
print(len(diff))
diff.head(3)

In [ ]:
diff.columns = columns
diff = diff.loc[diff['prefectureName'] == '静岡県']#静岡県に絞り込む,loc[diff[]]
print(len(diff))
diff.head(3)

In [ ]:
#データの結合
data_test = data              #テスト用にコピー
print(len(data_test))         #既存の件数確認
print(len(data_test) == len(data))#件数正しいか確認
print(len(diff))              #差分のが件数確認
data_test = data_test.append(diff)#テスト用の変数に差分データを追加
print(len(data_test))      #追加後の件数を確認
data_test.tail(3)         #追加後のデータ末尾3件を確認

In [ ]:
#結合ループの実装
for f in diff_files:
    diff = pd.read_csv(f, encoding='shift-jis', header=None, dtype=object)
    diff.columns = columns
    diff = diff.loc[diff['prefectureName'] == '静岡県']
    data = data.append(diff)
data

In [ ]:
data.describe()

In [ ]:
print(data[data["corporateNumber"].duplicated()])#重複データの確認

In [ ]:
data.drop_duplicates(subset='corporateNumber',keep='last', inplace=True)#重複データの削除
data.describe()#sunset=重複確認対象, keep=last最終行を残す,inplace中身の書き換え

In [ ]:
data.isna().sum()#欠損値の確認

In [ ]:
#マスタの読み込み
mst_process_kbn = pd.read_csv('./chapter-1/data/mst_process_kbn.csv',dtype=object)
mst_process_kbn

In [ ]:
data= data.merge(mst_process_kbn, on='process', how='left')#キーとして紐づける名称の追加

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
mst_correct_kbn = pd.read_csv('./chapter-1/data/mst_correct_kbn.csv', encoding='shift-jis', dtype=object)
mst_correct_kbn

In [ ]:
data = data.merge(mst_correct_kbn, on='correct', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_crop_kind = pd.read_csv('./chapter-1/data/mst_corp_kind.csv',dtype=object)
mst_crop_kind

In [ ]:
data = data.merge(mst_crop_kind, on='kind', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_closeCause = pd.read_csv('./chapter-1/data/mst_closeCause.csv',dtype=object)
mst_closeCause

In [ ]:
data = data.merge(mst_closeCause, on='closeCause', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_latest= pd.read_csv('./chapter-1/data/mst_latest.csv',dtype=object)
mst_latest

In [ ]:
data = data.merge(mst_latest, on='latest', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_hihyoji = pd.read_csv('./chapter-1/data/mst_hihyoji.csv',dtype=object)
mst_hihyoji

In [ ]:
data = data.merge(mst_hihyoji, on='hihyoji', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
#テキストの分割と連結
data[['prefectureName', 'cityName', 'streetNumber']].isna().sum()#欠損値の確認

In [ ]:
data['address'] = data['prefectureName'] + data['cityName'] + data['streetNumber']
print(len(data.columns))
data.head(3)#欠損値データの補完

In [ ]:
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data['address'].loc[data['streetNumber'].isna()] = data['prefectureName'] + data['cityName']#欠損値の抽出＋結合

In [ ]:
print(data['address'].isna().sum())
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data.head(3)

In [ ]:
#テキストの分割
data['postCode_head'] = data['postCode'].str[:3]
print(len(data.columns))
data.head(3)

In [ ]:
#郵便番号の処理
data['postCode_head'] = data['postCode'].str[-4:]
print(len(data.columns))
data.head(3)

In [ ]:
#日付の加工
tmp = pd.to_datetime(data['closeDate'])
tmp.dtypes

In [ ]:
#ループの変換,型の変換
dt_columns = ['updateDate','changeDate','closeDate','assignmentDate']
for col in dt_columns:
    data[col]  = pd.to_datetime(data[col])

In [ ]:
data.dtypes

In [ ]:
data['corporate_life'] = data['closeDate'] - data['assignmentDate']
print(len(data.columns))
data.head(3)

In [ ]:
tmp = data.loc[data['closeDate'].notna()]
print(len(tmp))
tmp.head(3)#欠損値でないデータ

In [ ]:
len(data.loc[data['closeCause'].notna()]) == len(data.loc[data['closeDate'].notna()])#確認

In [ ]:
data['update_YM'] = data['updateDate'].dt.to_period('M')
print(len(data.columns))
data.head()#年月の設定

In [ ]:
#ループ処理
dt_prefixes = ['assignment', 'change', 'update', 'close']
for pre in dt_prefixes:
    data[f'f{pre}_YM'] = data[f'{pre}Date'].dt.to_period('M')#f{}は文字列に変数の埋め込みができる

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
#年度の設定、取得
data['update_year'] = pd.DatetimeIndex(data['updateDate']).year
data['update_month'] = pd.DatetimeIndex(data['updateDate']).month
data['update_fiscal_year'] = pd.DatetimeIndex(data['updateDate']).year
data.loc[data['update_month'] < 4, 'update_fiscal_year'] -= 1

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
for i in range(12):
    display(data[['update_YM', 'update_fiscal_year']].loc[data['update_month'] == i+1][:1])

In [ ]:
#加工したデータをファイルに出力する
import os
output_dir = './output'
os.makedirs(output_dir, exist_ok=True)

output_file = 'processed_shizuoka.csv'
data.to_csv(os.path.join(output_dir, output_file), index=False)#csv出力

output_file = output_file.replace('.csv', '.xlsx')
data.to_excel(os.path.join(output_dir, output_file), index=False)#Excel出力

In [ ]:
#不要な項目の削除と並べ替え
data = data[['cityName', 'corporateNumber','name','corp_kind_name', 'process','process_kbn_name','assignmentDate', 'updateDate', 'update_fiscal_year','update_YM']]

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)#必要なデータのみ抽出し表示する

In [ ]:
data = data.drop(columns = 'process')
print(data.columns)
data.head(3)#一行の削除

In [ ]:
#集計
tmp = data.groupby('corp_kind_name').size()#グループ化
tmp

In [ ]:
tmp.sort_values(inplace=True, ascending=False)
tmp

In [ ]:
tmp = data.groupby(['update_fiscal_year','corp_kind_name']).size()
tmp

In [ ]:
pt_data = pd.pivot_table(data, index='corp_kind_name', columns='update_fiscal_year', aggfunc='size')#aggfunc=集計方法
pt_data

In [ ]:
tmp = data.groupby('cityName').size()
tmp.head()

In [ ]:
x = tmp.index
y = tmp.values
plt.figure(figsize=(20,100))#size
plt.bar(x, y)

In [ ]:
tmp.sort_values(inplace=True, ascending=True)
tmp

In [ ]:
x = tmp.index
y = tmp.values
plt.figure(figsize=(10,15))#size
plt.barh(x, y)

In [ ]:
tmp.sort_values(inplace=True, ascending=False)
plt.figure(figsize=(20,10))
x = tmp[:10].index
y = tmp[:10].values
plt.bar(x, y)

In [ ]:
plt.figure(figsize=(20,10))
plt.bar(x, y)
plt.title('市区町村別の法人数',fontsize=20)
plt.xlabel('市区町村名',fontsize=15)
plt.ylabel('法人数')

In [ ]:
#グラフの見た目を変える
tmp.sort_values(inplace=True,ascending=False)
tmp = tmp[:10]
x = tmp.index
y = tmp.values
fig, ax = plt.subplots(figsize=(20,10))
bar_list = ax.bar(x,y, color='lightgray')
bar_list[4].set_color('blue')
ax.set_title('自治体別法人数における富士市の位置付け',fontsize=20);
ax.set_ylabel('法人数',fontsize=15)
ax.text(7.5, 9000,'上位10の自治体を抜粋して表示,富士市の職員が法人誘致に力を入れようとしている',fontsize=15)

In [ ]:
#新規法人数の可視化
base_time = pd.Timestamp.now(tz='Asia/Tokyo')
base_time

In [ ]:
print(len(data))
data.head()

In [ ]:
#型の変換
data['assignmentDate'] = data['assignmentDate'].dt.tz_localize('Asia/Tokyo')
data.head()

In [ ]:
#対象データの絞り込み
delta = pd.Timedelta(90, 'days')
tmp = data.loc[(data['process_kbn_name'] == '新規') & (base_time - data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp = data.groupby('cityName').size()
tmp.sort_values(inplace=True, ascending=False)
tmp = tmp[:10]
x = tmp.index
y = tmp.values
plt.figure(figsize=(20,10))
plt.bar(x, y)

In [ ]:
#指定時刻を基にした絞り込み結果
base_time = pd.Timestamp('2020-04-16', tz='Asia/Tokyo')
tmp = data.loc[(data['process_kbn_name'] == '新規') & (base_time -data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp = data.groupby('cityName').size()
tmp.sort_values(inplace=True, ascending=False)
tmp = tmp[:10]
x = tmp.index
y = tmp.values
plt.figure(figsize=(20,10))
plt.bar(x, y)

In [ ]:
#年度別の推移の可視化
tmp = data.dropna(subset=['cityName'])
tmp = tmp.loc[tmp['cityName'].str.match('^.*区$')]
print(len(tmp))
tmp.head()

In [ ]:
#対象年月で絞り込んだデータ
tmp.loc[(tmp['update_fiscal_year'] >= 2016) & (tmp['update_fiscal_year'] < 2021)]
print(len(tmp))
tmp.head()

In [ ]:
#グループ化後のデータ
tmp = tmp.groupby(['cityName', 'update_fiscal_year']).size()
tmp.name = 'count'
tmp = tmp.reset_index()
print(len(tmp))
tmp.head(6)

In [ ]:
#年度別推移の折れ線グラフ
import seaborn as sns
from matplotlib.ticker import MaxNLocator

plt.figure(figsize=(20,10))
plt.gca().xaxis.set_major_locator(MaxNLocator(integer=True))
img = sns.lineplot(x=tmp['update_fiscal_year'], y=tmp['count'], hue=tmp['cityName'])

In [ ]:
data_file = 'knock20_graphdata.csv'
data.to_csv(os.path.join(output_dir, data_file), index=False)

In [ ]:
graph_file = 'knock20_graph.png'
fig = img.get_figure()