In [22]:
import re
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [7]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [8]:
m = regex.search(text)

In [9]:
m

In [10]:
text[m.start():m.end()]

'dave@google.com'

In [11]:
print(regex.match(text))

None

In [12]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [13]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [14]:
regex =re.compile(pattern, flags=re.IGNORECASE)

In [15]:
m = regex.match('wesm@bright.net')

In [17]:
m.groups()

('wesm', 'bright', 'net')

In [18]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [19]:
print(regex.sub(r'Username: \1, Domein: \2, Suffix: \3', text))

Dave Username: dave, Domein: google, Suffix: com
Steve Username: steve, Domein: gmail, Suffix: com
Rob Username: rob, Domein: gmail, Suffix: com
Ryan Username: ryan, Domein: yahoo, Suffix: com

In [21]:
data = {'Dave': 'dave@google.com', 
'Steve': 'steve@gmail.com',
'Rob': 'rob@gmail.com',
'Ryan': 'ryan@yahoo.com',
'Wes': np.nan}

In [23]:
data = pd.Series(data)

In [24]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Ryan      ryan@yahoo.com
Wes                  NaN
dtype: object

In [25]:
data.isnull()

Dave     False
Steve    False
Rob      False
Ryan     False
Wes       True
dtype: bool

In [26]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Ryan     False
Wes        NaN
dtype: object

In [27]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [32]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Ryan      [(ryan, yahoo, com)]
Wes                        NaN
dtype: object

In [33]:
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]

In [34]:
matches

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Ryan      (ryan, yahoo, com)
Wes                      NaN
dtype: object

In [35]:
matches.str.get(1)

Dave     google
Steve     gmail
Rob       gmail
Ryan      yahoo
Wes         NaN
dtype: object

In [36]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Ryan     ryan@
Wes        NaN
dtype: object

In [37]:
data.str.extract(pattern, flags=re.IGNORECASE)

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Ryan    ryan   yahoo  com
Wes      NaN     NaN  NaN

In [38]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [39]:
data

a  1   -0.961989
   2    0.217308
   3   -0.491640
b  1   -0.866533
   3    1.679792
c  1   -0.897995
   2   -0.226395
d  2   -0.750641
   3   -0.689544
dtype: float64

In [40]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )