In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = pd.Series([4,7, -5, 3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [7]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
obj2['a']

4

In [9]:
obj2[['a', 'c', 'd']]

a    4
c   -5
d    3
dtype: int64

In [10]:
obj2[obj2 > 0]

a    4
b    7
d    3
dtype: int64

In [11]:
obj2 **2

a    16
b    49
c    25
d     9
dtype: int64

In [12]:
import numpy as np
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [13]:
'b' in obj2

True

In [14]:
'e' in obj2

False

In [26]:
sdata = {'Ohio':35000, 'Taxes':71000, 'Oregon':16000, 'Utah':5000}

In [27]:
sdata

{'Ohio': 35000, 'Taxes': 71000, 'Oregon': 16000, 'Utah': 5000}

In [28]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Taxes     71000
Oregon    16000
Utah       5000
dtype: int64

In [29]:
states = ['Califolnia', 'Ohio', 'Oregon', 'Taxes']

In [30]:
obj4 = pd.Series(sdata, index=states)
obj4

Califolnia        NaN
Ohio          35000.0
Oregon        16000.0
Taxes         71000.0
dtype: float64

In [31]:
pd.isnull(obj4)

Califolnia     True
Ohio          False
Oregon        False
Taxes         False
dtype: bool

In [33]:
pd.notnull(obj4)

Califolnia    False
Ohio           True
Oregon         True
Taxes          True
dtype: bool

In [34]:
obj3

Ohio      35000
Taxes     71000
Oregon    16000
Utah       5000
dtype: int64

In [35]:
obj4

Califolnia        NaN
Ohio          35000.0
Oregon        16000.0
Taxes         71000.0
dtype: float64

In [36]:
obj3 + obj4

Califolnia         NaN
Ohio           70000.0
Oregon         32000.0
Taxes         142000.0
Utah               NaN
dtype: float64

In [37]:
obj4.name = 'poporation'

In [38]:
obj4.index.name = 'state'
obj4

state
Califolnia        NaN
Ohio          35000.0
Oregon        16000.0
Taxes         71000.0
Name: poporation, dtype: float64

In [39]:
obj.index = ['bob', 'steve', 'jeff', 'ryan']

In [40]:
obj

bob      4
steve    7
jeff    -5
ryan     3
dtype: int64