In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
from dateutil.parser import  parse
from pandas.tseries.offsets import Hour, Minute, Day, MonthEnd
import pytz

In [2]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [3]:
stamp_utc = stamp.tz_localize('utc')

In [4]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [5]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [6]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [7]:
stamp_utc.value

1299902400000000000

In [8]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [9]:
stamp = pd.Timestamp('2012-03-11 01:30', tz='US/Eastern')

In [10]:
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [11]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [12]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [13]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [14]:
stamp + Hour() * 2

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [15]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [16]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [17]:
ts

2012-03-07 09:30:00    0.693622
2012-03-08 09:30:00   -1.110465
2012-03-09 09:30:00    0.083522
2012-03-12 09:30:00    0.623562
2012-03-13 09:30:00    0.591016
2012-03-14 09:30:00    0.007288
2012-03-15 09:30:00    2.541088
2012-03-16 09:30:00    0.892424
2012-03-19 09:30:00    0.219756
2012-03-20 09:30:00    0.845819
Freq: B, dtype: float64

In [18]:
ts1 = ts[:7].tz_localize('Europe/London')

In [19]:
ts2 = ts1[:2].tz_convert('Europe/Moscow')

In [20]:
result = ts1 + ts2

In [21]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [22]:
p  = pd.Period(2007, freq='A-DEC')

In [23]:
p

Period('2007', 'A-DEC')

In [24]:
p + 5

Period('2012', 'A-DEC')

In [25]:
p - 2

Period('2005', 'A-DEC')

In [26]:
pd.Period('2014', freq='A-DEC') - p

In [27]:
rng  = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [28]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [29]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.396321
2000-02   -1.402934
2000-03    0.761359
2000-04   -0.510664
2000-05    0.218267
2000-06    1.279890
Freq: M, dtype: float64

In [30]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [31]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [32]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [33]:
p  = pd.Period('2007', freq='A-DEC')

In [34]:
p

Period('2007', 'A-DEC')

In [35]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [36]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [37]:
p = pd.Period('2007', freq='A-JUN')

In [38]:
p

Period('2007', 'A-JUN')

In [39]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [40]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [41]:
p = pd.Period('Aug-2007', 'M')

In [42]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [45]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [47]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [48]:
ts

2006   -0.489395
2007   -0.888976
2008   -0.906812
2009   -1.153448
Freq: A-DEC, dtype: float64

In [49]:
ts.asfreq('M', how='start')

2006-01   -0.489395
2007-01   -0.888976
2008-01   -0.906812
2009-01   -1.153448
Freq: M, dtype: float64

In [50]:
ts.asfreq('B', how='end')

2006-12-29   -0.489395
2007-12-31   -0.888976
2008-12-31   -0.906812
2009-12-31   -1.153448
Freq: B, dtype: float64

In [51]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [52]:
p

Period('2012Q4', 'Q-JAN')

In [53]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [54]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [55]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [56]:
p4pm

Period('2012-01-30 16:00', 'T')

In [57]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [58]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [59]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [60]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [61]:
new_rng =  (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [63]:
ts.index = new_rng.to_timestamp()

In [64]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [65]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [66]:
ts = pd.Series(np.random.randn(3), index=rng)

In [67]:
ts

2000-01-31    1.159393
2000-02-29    0.173727
2000-03-31    0.122544
Freq: M, dtype: float64

In [68]:
pts = ts.to_period()

In [69]:
pts

2000-01    1.159393
2000-02    0.173727
2000-03    0.122544
Freq: M, dtype: float64

In [70]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [71]:
ts2 = pd.Series(np.random.randn(6), index=rng)

In [72]:
ts2

2000-01-29    0.832856
2000-01-30   -0.210882
2000-01-31    0.486447
2000-02-01    0.068136
2000-02-02   -0.298795
2000-02-03   -0.608020
Freq: D, dtype: float64

In [73]:
ts2.to_period('M')

2000-01    0.832856
2000-01   -0.210882
2000-01    0.486447
2000-02    0.068136
2000-02   -0.298795
2000-02   -0.608020
Freq: M, dtype: float64

In [74]:
pts = ts2.to_period()

In [75]:
pts

2000-01-29    0.832856
2000-01-30   -0.210882
2000-01-31    0.486447
2000-02-01    0.068136
2000-02-02   -0.298795
2000-02-03   -0.608020
Freq: D, dtype: float64

In [76]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.832856
2000-01-30 23:59:59.999999999   -0.210882
2000-01-31 23:59:59.999999999    0.486447
2000-02-01 23:59:59.999999999    0.068136
2000-02-02 23:59:59.999999999   -0.298795
2000-02-03 23:59:59.999999999   -0.608020
Freq: D, dtype: float64

In [77]:
data = pd.read_csv("C:/Users/trivial system/pydata-book-2nd-edition/examples/macrodata.csv")

In [78]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [79]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [80]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [82]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')

In [84]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [85]:
data.index = index

In [87]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [88]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [89]:
ts  = pd.Series(np.random.randn(len(rng)), index=rng)

In [90]:
ts

2000-01-01    0.151224
2000-01-02    0.661685
2000-01-03   -0.841341
2000-01-04   -0.714303
2000-01-05   -0.044796
                ...
2000-04-05    0.213867
2000-04-06    0.089056
2000-04-07    0.357453
2000-04-08   -0.610723
2000-04-09   -1.298496
Freq: D, Length: 100, dtype: float64

In [92]:
ts.resample('M').mean()

2000-01-31    0.156097
2000-02-29   -0.191954
2000-03-31    0.263915
2000-04-30   -0.326099
Freq: M, dtype: float64

In [93]:
ts.resample('M', kind='period').mean()

2000-01    0.156097
2000-02   -0.191954
2000-03    0.263915
2000-04   -0.326099
Freq: M, dtype: float64