In [19]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
from dateutil.parser import  parse

In [2]:
now = datetime.now()

In [3]:
now.year, now.month, now.day

(2021, 11, 15)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [5]:
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
start = datetime(2011, 1, 7)

In [9]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [11]:
stamp = datetime(2011, 1, 3)

In [12]:
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime

In [14]:
value = '2011-01-03'

In [15]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
datestrs = ['7/6/2011', '8/6/2011']

In [18]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [21]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [22]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [24]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [25]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True])

In [30]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [33]:
ts = pd.Series(np.random.randn(6), index=dates)

In [34]:
ts

2011-01-02   -0.508887
2011-01-05   -0.004420
2011-01-07   -1.283553
2011-01-08    1.698368
2011-01-10   -0.323172
2011-01-12   -0.118035
dtype: float64

In [35]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
ts + ts[::2]

2011-01-02   -1.017775
2011-01-05         NaN
2011-01-07   -2.567106
2011-01-08         NaN
2011-01-10   -0.646345
2011-01-12         NaN
dtype: float64

In [37]:
ts.index.dtype

dtype('<M8[ns]')

In [38]:
stamp = ts.index[0]

In [39]:
stamp

Timestamp('2011-01-02 00:00:00')

In [40]:
stamp = ts.index[2]

In [41]:
ts[stamp]

-1.2835529577499878

In [42]:
ts['1/10/2011']

-0.3231724132417125

In [43]:
ts['20110110']

-0.3231724132417125

In [44]:
longer_ts =pd.Series(np.random.randn(1000), 
                     index=pd.date_range('1/1/2000', periods=1000))

In [45]:
longer_ts

2000-01-01   -1.078561
2000-01-02   -0.461120
2000-01-03   -0.639173
2000-01-04    0.584297
2000-01-05    0.066195
                ...
2002-09-22    0.986340
2002-09-23    1.386714
2002-09-24   -0.652864
2002-09-25    0.354170
2002-09-26    0.634797
Freq: D, Length: 1000, dtype: float64

In [47]:
longer_ts['2001-05']

2001-05-01   -0.551279
2001-05-02   -0.228566
2001-05-03    0.950084
2001-05-04   -1.346327
2001-05-05   -0.721199
2001-05-06    1.461363
2001-05-07   -1.031543
2001-05-08   -2.020078
2001-05-09   -2.213996
2001-05-10    0.813907
2001-05-11   -1.402278
2001-05-12    0.349336
2001-05-13   -1.076917
2001-05-14    0.586213
2001-05-15   -0.292451
2001-05-16    0.528119
2001-05-17   -0.402310
2001-05-18    0.792320
2001-05-19   -0.044409
2001-05-20   -0.513464
2001-05-21    0.095811
2001-05-22   -2.052784
2001-05-23   -0.354995
2001-05-24    0.933812
2001-05-25    0.563744
2001-05-26    0.315664
2001-05-27   -0.522764
2001-05-28    1.231222
2001-05-29    1.317796
2001-05-30   -1.531911
2001-05-31   -0.793885
Freq: D, dtype: float64

In [48]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.283553
2011-01-08    1.698368
2011-01-10   -0.323172
2011-01-12   -0.118035
dtype: float64

In [49]:
ts

2011-01-02   -0.508887
2011-01-05   -0.004420
2011-01-07   -1.283553
2011-01-08    1.698368
2011-01-10   -0.323172
2011-01-12   -0.118035
dtype: float64

In [50]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.283553
2011-01-08    1.698368
2011-01-10   -0.323172
dtype: float64

In [51]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.508887
2011-01-05   -0.004420
2011-01-07   -1.283553
2011-01-08    1.698368
dtype: float64

In [52]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [53]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates, 
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [54]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.194984  1.404366  0.954500 -0.112159
2001-05-09 -0.775581  0.091494  0.574067  0.421986
2001-05-16  2.224751  0.013732  0.880287 -0.040501
2001-05-23 -0.970846  2.392557  0.081532 -0.586520
2001-05-30 -0.488390 -0.703716 -1.313915  1.099190

In [55]:
dates= pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [57]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [58]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [60]:
dup_ts.index.is_unique

False

In [61]:
dup_ts['1/3/2000']

4

In [62]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [63]:
grouped = dup_ts.groupby(level=0)

In [64]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [65]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [66]:
ts

2011-01-02   -0.508887
2011-01-05   -0.004420
2011-01-07   -1.283553
2011-01-08    1.698368
2011-01-10   -0.323172
2011-01-12   -0.118035
dtype: float64

In [68]:
resampler = ts.resample('D')

In [69]:
resampler

In [71]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [72]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [76]:
pd.date_range('2012-05-02 12:56:31', periods=5 )

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True )

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')