In [1]:
import numpy as np
import pandas as pd
import sys
import csv
import json
from lxml import objectify

In [2]:
frame = pd.read_csv("C:/Users/trivial system/pydata-book-2nd-edition/examples/ex1.csv")

In [3]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [6]:
store = pd.HDFStore('mydata.h5')

In [7]:
store['obj1'] = frame

In [8]:
store['obj1_col'] = frame['a']

In [9]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [10]:
store['obj1']

           a
0   0.996826
1   1.316221
2   0.887542
3  -0.345625
4  -1.151713
..       ...
95 -0.197108
96 -0.336556
97  0.950560
98  0.216296
99  0.052420

[100 rows x 1 columns]

In [12]:
store.put('obj2', frame, format='table')

In [13]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.131710
11  1.279408
12  0.277901
13 -0.681937
14 -0.950967
15  0.320805

In [14]:
store.close()

In [15]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [16]:
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0  0.996826
1  1.316221
2  0.887542
3 -0.345625
4 -1.151713

In [17]:
xlsx = pd.ExcelFile('C:/Users/trivial system/pydata-book-2nd-edition/examples/ex1.xlsx')

In [18]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [19]:
frame = pd.read_excel('C:/Users/trivial system/pydata-book-2nd-edition/examples/ex1.xlsx', 'Sheet1')

In [20]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [22]:
writer = pd.ExcelWriter('C:/Users/trivial system/pydata-book-2nd-edition/examples/ex2.xlsx')

In [23]:
frame.to_excel(writer, 'Sheet1')

In [24]:
writer.save()

In [25]:
frame.to_excel('C:/Users/trivial system/pydata-book-2nd-edition/examples/ex2.xlsx')

In [26]:
import requests

In [27]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [28]:
resp = requests.get(url)

In [29]:
resp

In [30]:
data = resp.json()

In [31]:
data[0]['title']

'BUG: parse_dates=False while passing date_parser tries to use date parser'

In [32]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])

In [33]:
issues

,number,title,labels,state
0,44366,BUG: parse_dates=False while passing date_pars...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,44365,ENH: add suffixes argument to compare,[],open
2,44364,BUG/API: implement DayDST,[],open
3,44363,BUG:,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,44361,Removed _SAFE_NAMES_WARNING in io.sql,[],open
5,44360,TYP: changed variable hashed to combined_hashe...,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
6,44359,Update cython version for asv conf,"[{'id': 732775912, 'node_id': 'MDU6TGFiZWw3MzI...",open
7,44358,ENH: Use find_stack_level in pandas.core,[],open
8,44357,DOC: Clarify DST rounding behavior in Timestam...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
9,44356,Fixed regression in Series.duplicated for cate...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
10,44355,CLN: split giant dt accessor tests,[],open
11,44354,ENH: add suffixes argument to DataFrame.compare,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
12,44353,"BUG/API: DataFrame.iloc[:, foo] = bar inplacen...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,44351,REGR: Series.duplicated with category dtype an...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,44350,BUG: groupby,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,44349,TYP: misc typing in _libs,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
16,44347,ENH: Use find_stack_level universally,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
17,44346,REF: re-remove _putmask_preserve,[],open
18,44345,"BUG: frame.loc[2:, 'z'] not setting inplace wh...",[],open
19,44344,CI: Fix import of coo_matrix after scipy dev u...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
20,44343,CI: New Numpydev version broke ci,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,44342,ENH: Raw `pd.Rolling.apply` with index,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
22,44341,CI/TST: Avoid datetime/Timestamp.now in tests ...,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
23,44339,TYP: timestamps.pyi,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
24,44336,BUG: inconsistency when transposing empty date...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,44335,ENH: option to change the number in `_dir_addi...,[],open
26,44333,DOC: Clarify docs for groupby when passed a li...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
27,44332,TST: use custom parametrization for consistenc...,[],open
28,44331,DOC: df.to_html documentation incorrectly cont...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
29,44329,ENH: errors='ignore' should work for record_pa...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open

In [34]:
import sqlite3

In [35]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
 );"""

In [36]:
con = sqlite3.connect('mydata.sqlite')

In [37]:
con.execute(query)

In [38]:
con.commit()

In [39]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacrametoro', 'Carifornia', 1.7, 5)]

In [40]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [41]:
con.executemany(stmt, data)

In [42]:
con.commit()

In [43]:
cursor = con.execute('select * from test')

In [44]:
rows = cursor.fetchall()

In [45]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacrametoro', 'Carifornia', 1.7, 5)]

In [46]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [47]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2  Sacrametoro  Carifornia  1.70  5

In [50]:
import sqlalchemy as sqla

In [52]:
db  = sqla.create_engine('sqlite://mydata.sqlite')

ArgumentError: Invalid SQLite URL: sqlite://mydata.sqlite
Valid SQLite URL forms are:
 sqlite:///:memory: (or, sqlite://)
 sqlite:///relative/path/to/file.db
 sqlite:////absolute/path/to/file.db